	{% extends "base.html" %}
   

    {% block content %}
		    <div class = "jumbotron">
				<h1 class="display-4">Maximum Temperature</h1>
				<hr/>
				<div class="container-fluid">
			        <div class="row">
			          <div class="col-sm">
			            <img class= "img-fluid"  src="static/images/fig1.png" alt="image"> 
			          </div> 

			          <div class="col-sm">
			          	<h4>Analysis</h4>
			            <p class= "lead"><span class="align-middle">As expected, the weather becomes significantly warmer as one approaches the equator(0 Degress Latitude). More interesting is the fact that the Southern Hemisphere tends to be warmer this time of year than the Northern Hemisphere. This may be due to the  tilt of the  Earth at the time of year the data was gathered.</span>  </p>
			          </div>
			        </div>
			      </div>
			    </div> 
			</div>
		</div>    
    {% endblock %}